ion-toolbar{
    --background: var(--ion-color-success-shade);
    --color: var(--ion-color-primary-contrast);
    height: 100%;
}
.test{
    padding: 20px !important;
}
ion-title{
    text-align: center;
    font-size: 30px!important;
    margin-top: 20px;
    color: whitesmoke!important;
}
.title-app {
    margin-top: 0px;
}
ion-content{
    --background: var(--ion-color-primary-contrast) 
}
ion-icon{
    color:#ffffff;
    font-size: 40px;
    margin-left: 20px;
    /* margin-top: 9px; */
    
}
ion-searchbar{
    --background: var(--ion-color-primary-contrast);
    color: whitesmoke;
    margin-top: 50px;
}
ion-footer{
    height:60px;
}
ion-label{
    margin-top: 0px;
}



